<div id="<%= dom_id health_profile %>">
  <p>
    <strong>Systolic arterial pressure:</strong>
    <%= health_profile.systolic_arterial_pressure %>
  </p>

  <p>
    <strong>Diastolic arterial pressure:</strong>
    <%= health_profile.diastolic_arterial_pressure %>
  </p>

  <p>
    <strong>Mean arterial pressure:</strong>
    <%= health_profile.mean_arterial_pressure %>
  </p>

</div>
