<h1>Editing health profile</h1>

<%= render "form", health_profile: @health_profile %>

<br>

<div>
  <%= link_to "Show this health profile", @health_profile %> |
  <%= link_to "Back to health profiles", health_profiles_path %>
</div>
